/**
 * Created by chenrunsheng on 2017/7/24.
 *  整站icons归档
 */

/* footer start */
.icon-home{
  background: url(./../../images/footer/home.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-home-active{
  background: url(./../../images/footer/home-active.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-invest{
  background: url(./../../images/footer/invest.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-invest-active{
  background: url(./../../images/footer/invest-active.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-account{
  background: url(./../../images/footer/account.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-account-active{
  background: url(./../../images/footer/account-active.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-find{
  background: url(./../../images/footer/find.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-find-active{
  background: url(./../../images/footer/find-active.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
/* footer end */
.icon-logo-48{
  background: url(./../../images/logo/logo_48.png) no-repeat;
  @include spriteIcon(48px, 48px);
}
.icon-close{
  background: url(./../../images/icons/close.png) no-repeat;
  @include spriteIcon(31px, 31px);
}