/**
 * Created by chenrunsheng on 2017/7/24.
 *  整站icons归档
 */

/* footer start */
.icon-home{
  background: url(./../../images/footer/home.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-home-active{
  background: url(./../../images/footer/home-active.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-invest{
  background: url(./../../images/footer/invest.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-invest-active{
  background: url(./../../images/footer/invest-active.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-account{
  background: url(./../../images/footer/account.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-account-active{
  background: url(./../../images/footer/account-active.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-find{
  background: url(./../../images/footer/find.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
.icon-find-active{
  background: url(./../../images/footer/find-active.png) no-repeat;
  @include spriteIcon(49px, 43px);
}
/* footer end */
.icon-logo-48{
  background: url(./../../images/logo/logo-48.png) no-repeat;
  @include spriteIcon(48px, 48px);
}
.icon-close{
  background: url(./../../images/icons/close.png) no-repeat;
  @include spriteIcon(31px, 31px);
}
.icon-firms{
  background: url(./../../images/home/firms.png) no-repeat;
  @include spriteIcon(140px, 170px, 1/4);
}
.icon-bank{
  background: url(./../../images/home/bank.png) no-repeat;
  @include spriteIcon(140px, 170px, 1/4);
}
.icon-insured{
  background: url(./../../images/home/insured.png) no-repeat;
  @include spriteIcon(140px, 170px, 1/4);
}
.icon-money{
  background: url(./../../images/home/money.png) no-repeat;
  @include spriteIcon(39px, 39px);
}
.icon-time{
  background: url(./../../images/home/time.png) no-repeat;
  @include spriteIcon(39px, 39px);
}
.icon-custody{
  background: url(./../../images/icons/custody.png) no-repeat;
  @include spriteIcon(28px, 25px);
}
.icon-eye-close{
  background: url(./../../images/icons/eye-close.png) no-repeat;
  @include spriteIcon(100px, 100px);
}
.icon-eye-open{
  background: url(./../../images/icons/eye-open.png) no-repeat;
  @include spriteIcon(71px, 32px, 2/5);
}
.icon-msg{
  background: url(./../../images/icons/msg.png) no-repeat;
  @include spriteIcon(66px, 68px, 1/3);
}
.icon-sign{
  background: url(./../../images/icons/sign.png) no-repeat;
  @include spriteIcon(66px, 68px, 1/3);
}
.icon-user{
  background: url(./../../images/icons/user.png) no-repeat;
  @include spriteIcon(66px, 68px, 2/5);
}