@import "../../styles/mixin";
@import '../../styles/icons';

.footer-wrap{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $footNavIndex;
    width: 100%;
    border-top: #d8d8d8 .01rem solid;
    background: #fff;
    ul.footer{
        @include fj(center);
        li{
            width: 25%;
            text-align: center;
            padding: .2rem 0 0 0;
            p{
                @include height(true, 1rem, 1rem);
                @include fontStyle(.6rem, #666);
                &.active{
                    color: #63af6f;
                }
            }
        }
    }
}