@import "../../styles/mixin";

.act-nav-wrap {
    width: 100%;
    background: #fff;
    padding: .5rem 0;
    margin: .5rem 0;
    ul.nav-list {
        @include fj(center);
        li{
            width: 25%;
            text-align: center;
            p{
                @include fontStyle(.6rem, #666);
                &:nth-child(1) {
                    padding-bottom: .2rem;
                    img {
                        width: 1.3rem;
                    }
                }
            }
        }
    }
}

.recommend-new-wrap {
    background: #fff;
    .recommend-content {
        .recommend-top {
            width: 100%;
            @include height(true, 1.6rem, 1.6rem);
            text-align: center;
            p {
                @include fontStyle(.6rem, #555);
            }
        }
        .recommend-center {
            position: relative;
            width: 14rem;
            height: 4rem;
            margin: .5rem auto 0;
            overflow: hidden;
            border-bottom: #d8d8d8 .01rem solid;
            ul.monitor{
                li{
                    position: absolute;
                    border-radius: 50%;
                    border: #7ec78b 1px dashed;
                    @include fontStyle(.6rem, #666);
                    text-align: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    padding: .5rem 0.3rem 0;
                    &:nth-child(1) {
                        left: 0;
                        top: 0;
                    }
                    &:nth-child(2) {
                        right: 0;
                        top: 0;
                    }
                }
            }
            .income-case{
                position: absolute;
                left: 5rem;
                top: 1.5rem;
                z-index: $bigIndex;
                p{
                    &:nth-child(1) {
                        margin-bottom: .2rem;
                        text-align: center;
                        font-weight: bold;
                        @include fontStyle(.5rem, #ff811c);
                        span{
                            font-weight: bold;
                            @include fontStyle(1rem, #ff811c);
                        }
                    }
                    &:nth-child(2) {
                        @include fontStyle(.6rem, #666);
                    }
                }
            }
            .speed-schedule{
                width: 100%;
                height: 100%;
                padding-left: 3rem;
                .half-circle{
                    position: absolute;
                    z-index: $bigIndex;
                    left: 3.25rem;
                    top: .25rem;
                    width: 7.5rem;
                    height: 7.5rem;
                    transform: rotate(90deg);
                    clip: rect(0, 8rem, 8rem, 0);
                    border-radius: 50%;
                    background: #fff;
                }
                .outer{
                    position: absolute;
                    z-index: $commonIndex;
                    width: 8rem;
                    height: 8rem;
                    // transform: rotate(65deg);
                    clip: rect(0, 4rem, 8rem, 0);/* 这个clip属性用来绘制半圆，在clip的rect范围内的内容显示出来，使用clip属性，元素必须是absolute的 */
                    border-radius: 50%;
                    background: #ffbe00;
                }
                .pie{
                    position: absolute;
                    width: 8rem;
                    height: 8rem;
                    transform: rotate(90deg);
                    clip: rect(0, 4rem, 8rem, 0);
                    border-radius: 50%;
                    background-color: #dadad8;
                }
            }
        }
        .recommend-bottom{
            padding: .3rem 1rem;
            ul.invest-explain{
                flex-direction: row;
                li{
                    display: inline-block;
                    &:nth-child(2) {
                        float: right;
                    }
                    span{
                        display: inline-block;
                        vertical-align: middle;
                        &:nth-child(2) {
                            margin-left: .2rem;
                            p{
                                line-height: .8rem;
                                &:nth-child(1) {
                                    @include fontStyle(.6rem, #555);
                                    font-weight: bold;
                                }
                                &:nth-child(2) {
                                    @include fontStyle(.5rem, #666);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.qualification-wrap {
    @include clearfix;
    aside {
        &.insured {
            text-align: center;
            i {
                display: inline-block;
                vertical-align: middle;
                width: 1.6rem;
                height: .05rem;
                background: #c4c4c4;
            }
            span {
                @include fontStyle(.6rem, #c4c4c4);
            }
        }
        &.more{
            text-align: center;
            @include height(true, 1rem, 1rem);
            a {
                @include fontStyle(.4rem, #ff8421);
            }
        }
    }
    ul.qualifiy {
        @include fj(center);
        margin: .7rem 0;
        li{
            width: 33.3%;
            text-align: center;
            p{
                @include fontStyle(.4rem, #b3b3b3);
                &:nth-child(1) {
                    padding-bottom: .2rem;
                    img {
                        width: 1.3rem;
                    }
                }
            }
        }
    }
}